{:paths   ["src"]
 :deps    {}
 :aliases {:test-cljs {:extra-paths ["test/cljs" "test/cljc"]
                       :extra-deps  {org.clojure/clojure       {:mvn/version "1.9.0"}
                                     org.clojure/clojurescript {:mvn/version "1.10.339"}

                                     ;; Add-ons:
                                     org.clojure/core.async    {:mvn/version "0.4.474"}
                                     funcool/promesa           {:mvn/version "2.0.0-SNAPSHOT"}}}

           :test-clj  {:extra-paths ["test/clj" "test/cljc"]
                       :extra-deps  {org.clojure/clojure         {:mvn/version "1.9.0"}
                                     ;; Add-ons:
                                     org.clojure/core.async      {:mvn/version "0.4.474"}
                                     manifold                    {:mvn/version "0.1.8"}
                                     funcool/promesa             {:mvn/version "2.0.0-SNAPSHOT"}
                                     ;; Dev:
                                     org.clojure/tools.namespace {:mvn/version "0.2.11"}
                                     ;; Testing:
                                     eftest                      {:mvn/version "0.5.2"}
                                     metosin/testit              {:mvn/version "0.4.0-SNAPSHOT"}}}

           :self-host {:extra-deps {andare {:mvn/version "0.9.0" :exclusions [org.clojure/clojure org.clojure/clojurescript]}}}

           :fig       {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}}}}}
