#kaocha/v1
{:tests [{:id         :unit
          :test-paths ["test/cljc" "test/clj"]}
         {:id         :unit-cljs
          :type       :kaocha.type/cljs
          :test-paths ["test/cljc" "test/cljs"]}]}
